<?xml version="1.0" encoding="UTF-8"?>
<suite name="CategoriaSuite">
  <test name="CategoriaTest">
  	<parameter name="nombreInsertar" value="Chocolates"/>
  	<parameter name="nombreActualizar" value="Lacteos"/>
    <classes>
      <class name="pe.com.test.CategoriaTest"/>
    </classes>
  </test> 
  
  <test name="test1">
	<parameter name="myName" value="manisha"/> 
	<classes>
	     <class name="pe.com.test.ParameterizedTest1"/>
	    </classes>
    </test>
</suite>
